extend ../layout

block content
  br
  h3 Lista de Preguntas
  br

  #preguntas
      table
        each quiz in quizes
          tr
            td
              if quiz.isFav
                img(class="fav_img", src="/images/fav.jpg")
              else
                img(class="unfav_img", src="/images/unfav.jpg")
              a(href="/quizes/#{quiz.id}") #{quiz.pregunta}
            if session.user
              if (session.user.isAdmin || session.user.id === quiz.UserId)
                td
                  a(href="/quizes/#{quiz.id}/edit")
                    button Editar
                td
                  form(method="post", action="/quizes/#{quiz.id}?_method=delete")
                    button(type="submit", onclick="return confirm('Borrar: #{quiz.pregunta}');") Borrar
