doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#page-wrap
      header.main#h1
        h2 Quiz: el juego de las preguntas
        if  !session.user
          span.right
            a(href="/user") Sign up
            a(href="/login") Login
        else
          span.right
            p #{session.user.username}
            a(href="/user/#{session.user.id}/edit") Settings
            a(href="/logout") Logout

      nav.main#n1(role = "navigation")
        span
          a(href="/")    Inicio
          a(href="/quizes")    Preguntas
          if (session.user)
            a(href="/user/#{session.user.id}/quizes") Mis preguntas
          a(href="/author")    Autores

      section.main#s1
        if errors.length
          span#ErrorMsgs Corregir errores
          br
          each error in errors
            span #{error.message}
            br

        block content

      footer.main#f1
        br
        a(href="http://es.wikipedia.org/wiki/Quiz") ¿Qué es un Quiz?
