extend ../layout

block content
  br
  h3 Lista de Preguntas
  br

  #preguntas
      table
        each quiz in quizes
          tr
            td
              a(href="quizes/#{quiz.id}") #{quiz.pregunta}
            if session.user
              td
                a(href="quizes/#{quiz.id}/edit")
                  button Editar
              td
                form(method="post", action="quizes/#{quiz.id}?_method=delete")
                  button(type="submit", onclick="return confirm('Borrar: #{quiz.pregunta}');") Borrar
  if session.user
    a#crea(href="/quizes/new")
      button(type = "button") Crear pregunta
  br
  br
  form(method ="get", action="/quizes")
    input(type="text", name="search", value="")
    input(type="submit", value="Buscar")

  br
  a#volver(href="/quizes") Mostrar lista
