extend ../layout

block content
  br
  h3 Lista de Preguntas
  br

  #preguntas
      table
        each quiz,index in quizes
          tr
            td
              if session.user
                if !isFav[index]
                  form(method ="post", action="/user/#{session.user.id}/favourites/#{quiz.id}?_method=put")
                    input(type="image", src="/images/unfav.png")
                else
                  form(method ="post", action="/user/#{session.user.id}/favourites/#{quiz.id}?_method=delete")
                    input(type="image", src="/images/fav.png", onclick="return confirm('¿Eliminar favorito?');")
              a(href="/quizes/#{quiz.id}") #{quiz.pregunta}
            if session.user
              if (session.user.isAdmin || session.user.id === quiz.UserId)
                td
                  a(href="/quizes/#{quiz.id}/edit")
                    button Editar
                td
                  form(method="post", action="/quizes/#{quiz.id}?_method=delete")
                    button(type="submit", onclick="return confirm('Borrar: #{quiz.pregunta}');") Borrar
  if session.user
    a#crea(href="/quizes/new")
      button(type = "button") Crear pregunta
  br
  br
  form(method ="get", action="/quizes")
    input(type="text", name="search", value="")
    input(type="submit", value="Buscar")

  br
  a#volver(href="/quizes") Mostrar lista
