extend ../layout

block content
  form(method ="get", action="/quizes/#{quiz.id}/answer")
    h3 Pregunta: #{quiz.pregunta}
    input(type="text", name="respuesta", value="Responda aquí")
    input(type="submit", value="Enviar")

  p
    a(href="/quizes/#{quiz.id}/comments/new")
      button Nuevo Comentario

  p
    strong Comentarios:

  each comment in quiz.Comments
    if (comment.publicado || session.user)
      p ->#{comment.texto}
      if (session.user && !comment.publicado)
        a(href="/quizes/#{quiz.id}/comments/#{comment.id}/publish")
          button Publicar
