extend ../layout

block content
  p Número de preguntas #{stat.nQuiz}
  br
  p Número de comentarios #{stat.nComments}
  br
  p Número medio de comentarios por pregunta #{stat.nMedio}
  br
  p Número de preguntas con comentarios #{stat.nComentadas}
  br
  p Número de preguntas sin comentarios #{stat.nNoComentadas}
